<section id="map" style="background-color: #CCC; height: 350px; margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</section>

<footer class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li><h2>AgroAPP</h2></li>
						<li><small style='font-size: 16px;'>Soluções inteligentes para o agronegócio.</small></li>
						<li><small style='font-size: 16px;'>Santiago / RS - Rio Grande do Sul</small></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled text-center">
						<li><p style="font-size: 17px; margin-top: 10px;">
						Copyright &copy <%= Date.today.year %>.
						Todos os direitos reservados.</p></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled pull-right">
					  <li><small>Powered by</small></li>
						<li><h3 style="margin-top: 5px;">CODE7EVEN</h3></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>